{% extends 'AppBundle:Default:layout.html.twig' %}

{% block content %}
	<div class="shopBlock">
		<div class="vendorBlock">
			<h2 class="categoryH2">Показаны товары следующих категорий:</h2>
			<ul class="vendorBlockUl">
				{% for exCategory in exCategories %}
					{% if exCategory.products|length != 0 %}
						<li>
							<a href="/exCategory/{{ exCategory.id }}">{{ exCategory.name }}</a>
							<p>({{ exCategory.products|length }} шт.)</p>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<hr/>
		<h2 class="shopTitle">Товары категории {{ category.name|raw }}:</h2>
		{{ include('AppBundle:Default:products.block.html.twig', { 'paginatorData': paginatorData, 'products': products }) }}
	</div>
{% endblock %}