{% extends 'AppBundle:Default:layout.html.twig' %}

{% block content %}
	<div class="shopBlock">
		<h2 class="shopTitle">Товары категории {{ category.name|raw }}:</h2>
		{{ paginator|raw }}
		<ul class="productListUl">
			{% for product in products %}
				<li class="productListItem">
					<div class="itemName">{{ product.name|raw }}</div>
					<div class="itemPicture">
						<a target="_blank" href="{{ product.url|raw }}" title="{{ product.name|raw }} {{ product.model|raw }}"><img src="{{ product.pictures.0 }}"></a>
					</div>
					<div class="itemModel">{{ product.model|raw }}</div>
					<hr />
					<div class="itemPrice">Цена: {{ product.price|number_format(0, '', ' ') }} руб.</div>
					<div class="itemLink">
						<a href="/product/{{ product.id }}" title="{{ product.name|raw }} {{ product.model|raw }}">Подробнее...</a>
					</div>
				</li>
			{% endfor %}
		</ul>
		{{ paginator|raw }}
	</div>
{% endblock %}