{% extends 'AppBundle:Default:layout.html.twig' %}

{% block content %}
	<div class="productListBlock">
		<h1>Выбор kinsshop.ru:</h1>
		{{ include('AppBundle:Default:products.block.html.twig', { 'paginatorData': paginatorData, 'products': products }) }}
	</div>
	<hr/>
	<div class="vendorBlock">
		<h1>Популярные бренды:</h1>
		<ul class="vendorBlockUl">
			{% for vendor in vendors %}
				<li>
					<a href="/vendor/{{ vendor.0.alias }}">{{ vendor.0.name }}</a>
					<p>({{ vendor.0.products|length }} шт.)</p>
				</li>
			{% endfor %}
		</ul>
	</div>
	<hr/>
	<div class="siteBlock">
		<h1>Наши партнеры:</h1>
		<ul class="siteBlockUl">
			{% for site in menuItems.sites %}
				<li>
					<a href="/shop/{{ site.alias }}"><img src="{{ site.logoUrl }}"></a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
