{% extends 'AppBundle:Default:layout.html.twig' %}

{% block content %}
	<div class="productListBlock">
		<h1>Выбор raiment-shop.ru:</h1>
		{{ include('AppBundle:Default:products.block.html.twig', { 'paginatorData': paginatorData, 'products': products }) }}
	</div>
	<hr/>
	<div class="vendorBlock">
		<h2 class="shopTitle">Популярные бренды:</h2>
		<ul class="vendorBlockUl">
			{% for vendor in vendors %}
					<li>
						<a href="/vendor/{{ vendor.alias }}">{{ vendor.name }}</a>
					</li>
			{% endfor %}
		</ul>
	</div>
	<hr/>
	<div class="siteBlock">
		<h1>Наши партнеры:</h1>
		<ul class="siteBlockUl">
			{% for site in menuItems.sites %}
				<li>
					<a href="/shop/{{ site.alias }}"><img src="{{ site.logoUrl }}"></a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
