{% extends 'AppBundle:Default:layout.html.twig' %}

{% block content %}
	<div class="shopBlock">
		<div class="shopBlockDiv">
			<div class="shopUniBlock">
				<h1 class="itemName">{{ product.vendor.name|raw }} | {{ product.model|raw }}</h1>
				<a href="{{ product.url|raw }}" title="{{ product.name|raw }} - {{ product.model|raw }} - сайт магазина"><img src="{{ product.pictures.0 }}"></a>
			</div>
		</div>
		<div class="shopBlockDiv">
			<div class="shopUniBlock" style="margin: 0 0 0 50px; width: 620px;">
				<h2 class="itemName">Цена: {{ product.price|raw }} руб.</h2>
				<noindex>
					<a class="productLink" rel="nofollow" target="_blank" href="{{ product.url|raw }}" title="{{ product.name|raw }} {{ product.model|raw }}">Купить</a>
				</noindex>
			</div>
			<div class="shopDescBlock">
				<h2 class="itemName">Описание:</h2>
				<div class="itemDesription">{{ product.description|raw }}</div>
			</div>
		</div>
		{% if likeProducts is not empty %}
			<hr/>
			<h3 class="shopTitle">Похожие товары:</h3>
			{{ include('AppBundle:Default:products.block.html.twig', { 'paginatorData': paginatorData, 'products': likeProducts }) }}
		{% endif %}
	</div>
{% endblock %}