{% extends 'AppBundle:Default:layout.html.twig' %}

{% block content %}
	<div class="shopBlock">
		<div class="shopBlockDiv">
			<div class="shopUniBlock">
				<h1 class="itemName">{{ product.vendor.name|raw }} | {% if product.model is not empty %}{{ product.model|raw }}{% else %}{{ product.name|raw }}{% endif %}</h1>
				{% if product.deleted %}
					<img src="{{ product.pictures.0 }}">
				{% else %}
					<noindex>
						<a href="{{ product.url|raw }}" title="{{ product.name|raw }} - {{ product.model|raw }} - сайт магазина" {% if (app.environment == 'prod') and ('.lan' not in app.request.host) %}onclick="yaCounter32562670.reachGoal('ON_DESCRIPTION_CLICK'); return true;"{% endif %}><img src="{{ product.pictures.0 }}"></a>
					</noindex>
				{% endif %}
			</div>
		</div>
		<div class="shopBlockDiv">
			<div class="shopUniBlock" style="margin: 0 0 0 50px; width: 620px;">
				<h2 class="itemName">Цена: {{ product.price|raw }} руб.</h2>
				{% if product.deleted %}
					<a class="productLink" rel="nofollow" title="{{ product.name|raw }} {{ product.model|raw }}">Нет в наличии</a>
				{% else %}
					<noindex>
						<a class="productLink" rel="nofollow" target="_blank" href="{{ product.url|raw }}" title="{{ product.name|raw }} {{ product.model|raw }}"{% if (app.environment == 'prod') and ('.lan' not in app.request.host) %}onclick="yaCounter32562670.reachGoal('ON_DESCRIPTION_BUY_CLICK'); return true;"{% endif %}>Купить</a>
					</noindex>
				{% endif %}
			</div>
			<div class="shopDescBlock">
				<h2 class="itemName">Описание:</h2>
				<div class="itemDesription">{{ product.description|raw }}</div>
			</div>
		</div>
		{% if likeProducts is not empty %}
			<hr/>
			<h3 class="shopTitle">Похожие товары:</h3>
			{{ include('AppBundle:Default:products.block.html.twig', { 'paginatorData': paginatorData, 'products': likeProducts }) }}
		{% endif %}
	</div>
{% endblock %}